<html ng-app="app">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

</head>

<body>

    <div class="container">
        <div ng-controller="PrincipalController">

            <div class="pull-right">
                <input type="text" class="form-control" ng-model="num" placeholder="How many?">
            </div>
            <div>
                <input type="text" class="form-control" ng-model="search" placeholder="Search">
            </div>

            <personas data-people="{{people}}"> </personas>

        </div>
    </div>

    <script type="text/javascript" src="bower_components/angularjs/angular.js"></script>
    <script type="text/javascript" src="bower_components/ng-filltext/ng-filltext.js"></script>
    <script src="app.js"></script>
    <script type="text/javascript" src="js/controllers/principal-controller.js"></script>
    <script type="text/javascript" src="js/services/personas-service.js"></script>
    <script type="text/javascript" src="js/directives/personas-directive.js"></script>

</body>

</html>
